# Файл с подарками для бота
# Формат: один URL на строку
# 
# Пример коллекции: t.me/emperort1me/c/2
# Пример подарка: https://t.me/nft/LunarSnake-182713
#
# Инструкция:
# 1. Переименуй этот файл в gifts.txt
# 2. Добавь ссылки на подарки (по одной на строку)
# 3. В боте используй "📥 Загрузить из файла"

https://t.me/nft/LunarSnake-182713
https://t.me/nft/Example-Gift-001
https://t.me/nft/Example-Gift-002
